  <div class="col-xs-3 col-5 text-center">
    <%= simple_form_for @query do |f| %>
    <%= f.hidden_field :countries, value: "" %>
    <%= f.hidden_field :categories, value: "Defense" %>
    <%= button_tag type: 'submit', class: "cat-btn" do %>
    <i class="fa fa-5x fa-shield" aria-hidden="true"></i><p class="teeny-font">Defense</p>
    <% end %>
    <% end %>
  </div>

  <div class="col-xs-3 col-5 text-center">
    <%= simple_form_for @query do |f| %>
    <%= f.hidden_field :countries, value: "" %>
    <%= f.hidden_field :categories, value: "Economic affairs", name: 'query[categories][]' %>
    <%= button_tag type: 'submit', class: "cat-btn" do %>
    <i class="fa fa-5x fa-money" aria-hidden="true"></i><p class="teeny-font">Economic Affairs</p>
    <% end %>
    <% end %>
  </div>

  <div class="col-xs-3 col-5 text-center">
   <%= simple_form_for @query do |f| %>
   <%= f.hidden_field :countries, value: "" %>
   <%= f.hidden_field :categories, value: "Education", name: 'query[categories][]' %>
   <%= button_tag type: 'submit', class: "cat-btn" do %>
   <i class="fa fa-5x fa-graduation-cap" aria-hidden="true"></i><p class="teeny-font">Education</p>
   <% end %>
   <% end %>
 </div>

 <div class="col-xs-3 col-5 text-center">
  <%= simple_form_for @query do |f| %>
  <%= f.hidden_field :countries, value: "" %>
  <%= f.hidden_field :categories, value: "Environment protection", name: 'query[categories][]' %>
  <%= button_tag type: 'submit', class: "cat-btn" do %>
  <i class="fa fa-5x fa-pagelines" aria-hidden="true"></i><p class="teeny-font">Environment Protection</p>
  <% end %>
  <% end %>
</div>

<div class="col-xs-3 col-5 text-center">
  <%= simple_form_for @query do |f| %>
  <%= f.hidden_field :countries, value: "" %>
  <%= f.hidden_field :categories, value: "General public services", name: 'query[categories][]' %>
  <%= button_tag type: 'submit', class: "cat-btn" do %>
  <i class="fa fa-5x fa-university" aria-hidden="true"></i><p class="teeny-font">General Public Services</p>
  <% end %>
  <% end %>
</div>

<div class="col-xs-3 col-5 text-center">
  <%= simple_form_for @query do |f| %>
  <%= f.hidden_field :countries, value: "" %>
  <%= f.hidden_field :categories, value: "Health", name: 'query[categories][]' %>
  <%= button_tag type: 'submit', class: "cat-btn" do %>
  <i class="fa fa-5x fa-heartbeat" aria-hidden="true"></i><p class="teeny-font">Health</p>
  <% end %>
  <% end %>
</div>

<div class="col-xs-3 col-5 text-center">
 <%= simple_form_for @query do |f| %>
 <%= f.hidden_field :countries, value: "" %>
 <%= f.hidden_field :categories, value: "Housing and community amenities", name: 'query[categories][]' %>
 <%= button_tag type: 'submit', class: "cat-btn" do %>
 <i class="fa fa-5x fa-home" aria-hidden="true"></i><p class="teeny-font">Housing &amp; Community Amenities</p>
 <% end %>
 <% end %>
</div>

<div class="col-xs-3 col-5 text-center">
  <%= simple_form_for @query do |f| %>
  <%= f.hidden_field :countries, value: "" %>
  <%= f.hidden_field :categories, value: "Public order and safety", name: 'query[categories][]' %>
  <%= button_tag type: 'submit', class: "cat-btn" do %>
  <i class="fa fa-5x fa-balance-scale" aria-hidden="true"></i><p class="teeny-font">Public Order &amp; Safety</p>
  <% end %>
  <% end %>
</div>

<div class="col-xs-3 col-5 text-center">
  <%= simple_form_for @query do |f| %>
  <%= f.hidden_field :countries, value: "" %>
  <%= f.hidden_field :categories, value: "Recreation, culture and religion", name: 'query[categories][]' %>
  <%= button_tag type: 'submit', class: "cat-btn" do %>
  <i class="fa fa-5x fa-music" aria-hidden="true"></i><p class="teeny-font">Recreation, Culture &amp; Religion</p>
  <% end %>
  <% end %>
</div>

<div class="col-xs-3 col-5 text-center">
  <%= simple_form_for @query do |f| %>
  <%= f.hidden_field :countries, value: "" %>
  <%= f.hidden_field :categories, value: "Social protection", name: 'query[categories][]' %>
  <%= button_tag type: 'submit', class: "cat-btn" do %>
  <i class="fa fa-5x fa-universal-access" aria-hidden="true"></i><p class="teeny-font">Social Protection</p>
  <% end %>
  <% end %>
</div>