This is the home page

<p><%= link_to 'Start by choosing a Category', queries_new_category_path %></p>
<p><%= link_to 'Start by choosing a Country', queries_new_country_path %></p>
<p><%= link_to 'Start with a Comparison Between Countries', queries_new_compare_path %></p>

<p><%= link_to 'Show Graph', query_path %></p>
<p><%= link_to 'Go to your profile', dashboard_path %></p>

