<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="intro-msg">
				<p>What The Finance takes EU government spending figures and turns them into data visualisations that are intuitive, interactive and exciting. We're here to help you understand the stats you don't know about but should. Have a browse, save the graphs you like and let your curiosity guide you.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 text-center">
      <%= link_to 'Browse by single country', queries_new_country_path, class: "trans-btn btn btn-primary btn-md" %>
      <%= link_to 'Compare multiple countries or categories', queries_new_compare_path, class: "trans-btn btn btn-info btn-md" %>
      <%= link_to 'Browse by spending category', queries_new_category_path, class: "trans-btn btn btn-warning btn-md" %>
		</div>
	</div>
</div>

<div class="container hex-container" >
	<div class="hexes">
		<div class="row">
			<div class="featured-graphs text-center">
				<h4>Featured Graphs</h4>
			</div>
			<div class=" col-xs-12 col-sm-4 text-center">

				<%= link_to root_path do %>
				<div class="hex hidden-xs hidden-sm hidden-md" id="hex3">
			<div class="odd-text">
				<span class="graph-title hidden-title">Compare Baltic Countries</span>
			</div>
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'bubble1.png' %>);">
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= link_to root_path do %>
				<div class="hex" id="hex4">
				<div class="odd-text">
				<span class="graph-title hidden-title">Netherlands Government Spending</span>
			</div>
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'bubble2.png' %>);">
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= link_to root_path do %>
				<div class="hex hidden-xs hidden-sm hidden-md" id="hex5">
				<div class="odd-text">
				<span class="graph-title hidden-title">EU Environmental Protection Spending</span>
			</div>
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'map1' %>); background-size: cover !important;">
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= link_to root_path do %>
				<div class="hex hidden-xs" id="hex6">
				<div class="odd-text">
				<span class="graph-title hidden-title">Education vs. Defense Spending</span>
			</div>
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'tree1.png' %>);">
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
			<div class="col-xs-12 col-sm-6">
				<%= link_to root_path do %>
				<div class="hex hidden-xs" id="hex7">
				<div class="odd-text">
				<span class="graph-title hidden-title">Compare Nordic Countries</span>
			</div>
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'tree2.png' %>);">
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

