<div class="container">
	<div class="row">
		<h2>welcome to <span id="site-title">What The Finance</span></h2>
		<div class="col-xs-12">
			<p>What the finance takes all the numbers and nonsense of government spending figures and turns them into interactive data visualisations that are intuitive and clear. Take a browse around, tell all your friends, click all the things.</p>
		</div>
	</div>

	<div class="row">
		<h3>Browse by:</h3>
		<div class="col-xs-4">
			<a class="btn btn-primary btn-md">COUNTRY</a>
		</div>
		<div class="col-xs-4">
			<a class="btn btn-primary btn-md">CATEGORY</a>
		</div>
		<div class="col-xs-4">
			<a class="btn btn-primary btn-md">COMPARE</a>
		</div>
	</div>
</div>

<div class="container" id="hex-container">
	<div class="hexes">
		<div class="row">
			<div class=" col-xs-12 col-sm-4">
				<%= link_to query_path do %>
				<div class="hex hidden-xs hidden-sm hidden-md" id="hex3">
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'bubblematrix.png' %>);">
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= link_to query_path do %>
				<div class="hex" id="hex4">
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'cartogram.jpg' %>);">
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= link_to query_path do %>
				<div class="hex hidden-xs hidden-sm hidden-md" id="hex5">
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'map.png' %>);">
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= link_to query_path do %>
				<div class="hex hidden-xs" id="hex6">
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'line.png' %>);">
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
			<div class="col-xs-12 col-sm-6">
				<%= link_to query_path do %>
				<div class="hex hidden-xs" id="hex7">
					<div class="hexagon hexagon1">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style= "background: url(<%= image_path 'bubbletree.png' %>);">
							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>	
	</div>
</div>



<!-- KB works below this line for testing -->

<span><%= link_to 'Start by choosing a Category', queries_new_category_path %></span>
<span><%= link_to 'Start by choosing a Country', queries_new_country_path %></span>
<span><%= link_to 'Start with a Comparison Between Countries', queries_new_compare_path %></span>

<span><%= link_to 'Show Graph', query_path %></span>
<span><%= link_to 'Go to your profile', dashboard_path %></span>
