This is where all SINGLE COUNTRY graphs go

<h1>country is: <%= @query.countries_display.first %></h1>
<h1>category 1 is: <%= @category1 %></h1>

<pre>
  <%= @query.to_json(:except => [ :created_at, :updated_at ]) %>
</pre>

<% @data.each do |statistic| %>
  <pre>
    <%= statistic.to_json(:except => [ :created_at, :updated_at ]) %>
  </pre>

<% end %>


<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Home', root_path %></p>

