This is where the COMPARE MATRIX graphs go

<h1>country is: <%= @country1 %></h1>
<h1>category 1 is: <%= @category1 %></h1>





<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Home', root_path %></p>


<!-- -/queries/new/category?country=France
-/queries/new/country?categories=TYT,UIYI,JH -->


<div id="chartContainer"></div>

<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>

