
<div class="container">

  <div class="row">
    <div class="col-xs-12">

      <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Compare', :back %></li>
        <li class="active"> <%= @query.categories.titleize %> </li>
      </ul>

    </div>
  </div>

<h1>Compare Spending by %GDP</h1>
	<div class="row">
		<div class="col-xs-8">
			<div id="chartContainer"></div>
		</div>
		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-12">
					<div class="card text-center">
						<div class="card-block">
							<h3>About this graph</h3>
               <p><strong>Gross Domestic Product (GDP)</strong> is a monetary measure of the market value of all final goods and services produced in a period (quarterly or yearly).</p>
							<p class="card-text">source: <a href="http://ec.europa.eu/eurostat/statistics-explained/index.php/Government_expenditure_by_function_%E2%80%93_COFOG">ec.europa.eu</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Recommended graphs</h3>
				</div>
				<div class="col-xs-6">
					<div class="card">
						<%= link_to root_path do %>
              <%= image_tag 'sunburst.png', height: 150, width: 150, crop: :fill %>
          <% end %>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="card">
						<%= link_to root_path do %>
              <%= image_tag 'streamgraph.png', height: 150, width: 150, crop: :fill %>
          <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  var data = <%= raw @compare_data %>;
</script>

<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
