
  <div class="row">
    <div class="col-xs-12">

      <ul class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Compare', :back %></li>
        <li class="active"> Compare <%= @query.categories.split(",").length %> spending categories among
          <%= @query.countries.split(",").length %> countries </li>
      </ul>

    </div>
  </div>

<div class="container">


<h3> Compare Spending, 2015 (%GDP)</h3>
	<div class="row">
		<div class="col-xs-8">
			<div id="chartContainer"></div>
		</div>
		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-12">
					<div class="card text-center">
						<div class="card-block">
							<h3>About this graph</h3>
               <p><strong>Gross Domestic Product (GDP)</strong> is a monetary measure of the market value of all final goods and services produced in a period (yearly).</p>
							<p class="card-text">source: <a href="http://ec.europa.eu/eurostat/statistics-explained/index.php/Government_expenditure_by_function_%E2%80%93_COFOG">ec.europa.eu</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h4>Recommended graphs</h4>
				</div>
				<div class="col-xs-6">
          <div class="card text-center">
            <%= link_to root_path do %>
              <%= image_tag 'bubble1.png', height: 150, width: 163, crop: :fill %>
          <% end %>
         <h5 class="recommendation-text">More <br> <%= @query.categories.titleize.split(",").sample %> </h5>
					</div>
				</div>
				<div class="col-xs-6">
          <div class="card text-center">
            <%= link_to root_path do %>
              <%= image_tag 'tree2.png', height: 150, width: 163, crop: :fill %>
          <% end %>
        <h5 class="recommendation-text">More <br> <%= @query.countries.titleize.split(",").sample %></h5>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  var data = <%= raw @compare_data %>;
</script>


<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
