<!-- Single category routes to Sven's graph type, all countries for selected category -->
<!-- country1 = all (hidden param)  -->

<h1>Make Your Selections</h1>

Choose a single country or category to explore, or choose up to two of each to compare

<p><%= link_to 'All categories', category_path(0, category1: "") %></p>
<p><%= link_to 'General public services', category_path(0, category1: "General public services") %></p>
<p><%= link_to 'Defense', category_path(0, category1: "Defense") %></p>
<p><%= link_to 'Public order and safety', category_path(0, category1: "Public order and safety") %></p>
<p><%= link_to 'Economic affairs', category_path(0, category1: "Economic affairs") %></p>
<p><%= link_to 'Environment protection', category_path(0, category1: "Environment protection") %></p>
<p><%= link_to 'Housing and community amenities', category_path(0, category1: "Housing and community amenities") %></p>
<p><%= link_to 'Health', category_path(0, category1: "Health") %></p>
<p><%= link_to 'Recreation, culture and religion', category_path(0, category1: "Recreation, culture and religion") %></p>
<p><%= link_to 'Education', category_path(0, category1: "Education") %></p>
<p><%= link_to 'Social protection', category_path(0, category1: "Social protection") %></p>


<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Home', root_path %></p>
