<!-- routes to bubble matrix, user chooses one or two countries, and one or two categories
to compare -->

<div class="container">

<h1>Make Your Selections</h1>

<p>Choose a single country or category to explore, or choose up to two of each to compare.
Choose one or two countries to compare.</p>

<!-- routing to category  always, not to compare, fix it. Not capturing all of the data now - only
passsing one value from drop downs. -->

<%= simple_form_for @query do |f| %>

  <%= f.input :countries, collection: Statistic.countries, as: :check_boxes %>

  <%= f.input :categories, collection: [ "Defence", "Economic Affairs", "Education", "Environment Protection", "General Public Services", "Health", "Housing & Community Amenities", "Public Order & Safety", "Recreation, Culture & Religion", "Social Protection"], as: :check_boxes %>

  <%= f.button :submit, "Compare" %>
<% end %>



<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Home', root_path %></p>

</div>
