<h1>By Country</h1>
Hello I am a new country query page

<p><%= link_to 'You have chosen a country, now choose a category', queries_new_category_path %></p>
<p><%= link_to 'See your graph', query_path %></p>
<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Home', root_path %></p>
