<h1>Make Your Selections</h1>

Choose a single country or category to explore, or choose up to two of each to compare

<p><%= link_to 'All categories', query_path %></p>
<p><%= link_to 'General Public Services', query_path %></p>
<p><%= link_to 'Defence', query_path %></p>
<p><%= link_to 'Public Order and Safety', query_path %></p>
<p><%= link_to 'Economic Affairs', query_path %></p>
<p><%= link_to 'Environment Protection', query_path %></p>
<p><%= link_to 'Housing and Community Amenities', query_path %></p>
<p><%= link_to 'Health', query_path %></p>
<p><%= link_to 'Recreation, Culture and Religion', query_path %></p>
<p><%= link_to 'Education', query_path %></p>
<p><%= link_to 'Social protection', query_path %></p>


<p><%= link_to 'You have chosen a category, now choose a country', query_path %></p>
<p><%= link_to 'See your graph', query_path %></p>
<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Home', root_path %></p>

<p>--------------------------</p>

Belgium
Bulgaria
Croatia
Cyprus
Denmark
Germany
Estonia
Finland
France
Greece
United Kingdom
Hungary
Ireland
Italy
Latvia
Lithuania
Luxembourg
Malta
The Netherlands
Austria
Poland
Portugal
Romania
Slovenia
Slovakia
Spain
Czech Republic
Sweden

<p>--------------------------</p>


<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Home', root_path %></p>
