<!-- Single category routes to Sven's graph type, all countries for selected category -->
<!-- country1 = all (hidden param)  -->
<div class="container">

<h1>Make Your Selections</h1>

<p>Choose a single country or category to explore, or choose up to two of each to compare</p>

<%= link_to 'All categories', category_path(0, category1: ""), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'General public services', category_path(0, category1: "General public services"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Defence', category_path(0, category1: "Defence"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Public order and safety', category_path(0, category1: "Public order and safety"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Economic affairs', category_path(0, category1: "Economic affairs"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Environment protection', category_path(0, category1: "Environment protection"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Housing and community amenities', category_path(0, category1: "Housing and community amenities"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Health', category_path(0, category1: "Health"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Recreation, culture and religion', category_path(0, category1: "Recreation, culture and religion"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Education', category_path(0, category1: "Education"), class: "trans-btn btn btn-warning btn-sm" %>
<%= link_to 'Social protection', category_path(0, category1: "Social protection"), class: "trans-btn btn btn-warning btn-sm" %>

<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Home', root_path %></p>
</div>
