<h1>By Category</h1>
Hello I am a new category query page

<p><%= link_to 'You have chosen a category, now choose a country', queries_new_country_path %></p>
<p><%= link_to 'See your graph', query_path %></p>
<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Home', root_path %></p>

