This is where all of our badass graphs go

<h1>country 1 is: <%= @country1 %></h1>
<h1>country 2 is: <%= @country2 %></h1>


<p><%= link_to 'Back', :back %></p>
<p><%= link_to 'Go to your profile', dashboard_path %></p>
<p><%= link_to 'Home', root_path %></p>


<!-- -/queries/new/category?country=France
-/queries/new/country?categories=TYT,UIYI,JH -->
