<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Poiret+One" rel="stylesheet">
    <title>WTFinance</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
        <script src="https://d3js.org/d3.v4.min.js"></script>

  </head>
  <body class="Site">
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->
    <main class="Site-content">
        <%= yield %>
    </main>

    <%= javascript_include_tag "application" %>
<%= render 'shared/footer' %>
  </body>
</html>
